// ---------------------------------------------------------------------------------------
// To run nextflow on AWS, 
// set the following environment variables manually
//
// The following environment variables are used:
// NXF_username      -- e.g., `NXF_username="NXF_$(whoami)"`
// NXF_github_repo   -- e.g., hgbrian/nextflow_scripts (bitbucket and gitlab should work too)
// NXF_AWS_accessKey -- use `aws iam` or aws console to get this
// NXF_AWS_secretKey -- use `aws iam` or aws console to get this
//

manifest {
    mainScript = blast.nf
}

timeline {
    enabled = true
}

trace {
    enabled = true
}

// ---------------------------------------------------------------------------------------
// Cloud
// imageId ami-43f49030 includes the necessary tools for nextflow, but only exists in `eu-west-1`
//
cloud {
    userName = "${NXF_username}"
    keyFile = "${HOME}/.ssh/ssh-key-${NXF_username}.pub"
    imageId = 'ami-43f49030'
    instanceType = 't2.micro'
    subnetId = "${NXF_AWS_subnet_id}" // set upon cloud setup

    sharedStorageId = "${NXF_AWS_efs_id}" // set upon cloud setup
    sharedStorageMount = "${NXF_AWS_efs_mnt}" // must be known by nxf_cloud.sh too
}

aws {
    region = 'eu-west-1'
}

// ---------------------------------------------------------------------------------------
// Profiles
//
profiles {
    standard {
        params.profile = "standard"

        // copied from https://github.com/pditommaso/paraMSA/blob/master/nextflow.config
        process {
            container = "${NXF_username}/blast"
            maxErrors = 10
            maxRetries = 2
            errorStrategy = 'retry'
        }
    }

    aws {
        params.profile = "aws"

        process {
            container = "${NXF_AWS_container}"
            maxErrors = 10 
            maxRetries = 2
            errorStrategy = 'retry'
        }
    }
}
