manifest {
    mainScript = 'blast.nf'
}

// ---------------------------------------------------------------------------------------
// Cloud
//
cloud {
    userName = 'nextflowuser'
    keyFile = '/Users/briann/.ssh/ssh-key-nextflowuser.pub'
    imageId = 'ami-43f49030'
    instanceType = 't2.micro'
    subnetId = '${NXF_AWS_subnet_id}'

    sharedStorageId = '${NXF_AWS_efs_id}'
    sharedStorageMount = '/mnt/efs'
}

aws {
    accessKey = '${NXF_AWS_accessKey}'
    secretKey = '${NXF_AWS_secretKey}'
    region = 'eu-west-1'
}

// ---------------------------------------------------------------------------------------
// Profiles
//
profiles {
    standard {
        params.out = "results.local.txt"

        // copied from https://github.com/pditommaso/paraMSA/blob/master/nextflow.config
        process {
            container = 'nextflowuser/blast'
            maxErrors = 10
            maxRetries = 3
            errorStrategy = 'retry'
        }
    }

    cloud {
        //params.db = "s3://nextflowuser-irish-bucket/pdb/tiny"
        params.out = "s3://nextflowuser-irish-bucket/results.cloud.txt"

        process {
            container = '${NXF_AWS_container_id}'
            maxErrors = 10 
            maxRetries = 3 
            errorStrategy = 'retry'
        }
    }
}
